node_modules/
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/captures/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
*.apk
*.aab
*.keystore
*.jks
